<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Server Administrator</title>
    <meta name="description" content="">
    <meta name="author" content="">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Server Administrator</a>
            <ul class="nav">
              <li><a href="{% url 'home' %}" class="">Home</a></li>
      {% if user.is_authenticated %}
        {% for app in menus %}
            {% if app.menuitems_set.all|length > 0 %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for menuitem in app.menuitems_set.all %}
                        <li><a href="{% url menuitem.app_path %}">{{ menuitem }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
                <li><a href="{% url 'core.views.logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'core.views.login' %}">Login</a></li>
      {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
    <div class="span6">
            <p>Powered By <img src="https://www.djangoproject.com/s/img/logos/django-logo-positive.svg" width="60px"></img></p>
            <p>This is <a href="https://github.com/dyve/django-bootstrap-toolkit">django-bootstrap-toolkit</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/oagranada">Oscar Granada</a> 2012
                |
                <a href="https://raw.github.com/dyve/django-bootstrap-toolkit/master/LICENSE">license</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>

