
{% extends "base.html" %}
{% load i18n %}
{% block content %}

{{ state }}
    <form action="{% url 'core.views.login' %}" method="post">
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
             {% endif %}
             {% csrf_token %}
             {% trans "Username" %}:
                  <input type="text" name="username" value="{{ username}}" /><br />
                  {% trans "Password" %}:
                  <input type="password" name="password" value="" /><br />                               
                  <input type="submit" value="{% trans "Login" %} " />
     </form>  

{%endblock%}


